name: "Test Action"
run-name: Context | DEBUG - ${{inputs.debug}}

env: 
  MY_WORKFLOW_VAR: "workflow"

on: 
  push:
  workflow_dispatch:
    inputs:
      debug:
        type: boolean
        default: false


jobs:
  echo-data:
    runs-on: ubuntu-latest
    env:  
      MY_JOB_VAR: "job"
    steps:
      - name: Test Action
        run: |
          echo "Event name: ${{github.event_name}}"
          echo "Ref: ${{github.ref}}"
          echo "SHA: ${{github.sha}}"
          echo "Actor: ${{github.actor}}"
      - name: Retrieve variables
        if: ${{inputs.debug}}
        run: | 
          echo "My workflow var: ${{env.MY_WORKFLOW_VAR}}"
          echo "My job var: ${{vars.MY_JOB_VAR}}"
